<h2>Sign up</h2>
{{#if msg}}
  <p class="message {{msg.status}}">{{msg.text}}</p>
{{/if}}
<section class="form-container-signup">
<form method="post" action="/auth/signup">
  <div>
    <label for="email">Email</label>
    <input id="email " type="email" name="email" />
  </div>
  <div>
    <label for="username">Username</label>
    <input id="username" type="text" name="username" />
  </div>
  <div>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" />
  </div>
  <button>Create an account</button>
</form>

<p>Already registered? <a href="/auth/signin">Sign in</a></p>
</section>