<h2>Sign in</h2>
<form method="post" action="/auth/signin">
<label for="email">Email</label>
<input type="email" name="email" value='a@a'>

<label for="password">Password</label>
<input type="password" name="password" value='flo'>
<button>Sign in</button>

</form>

<p>Not registered? <a href="/auth/signup">Sign up</a></p>