<h2>Sign up</h2>
<form method="post" action="/signup">
  <label for="email">Email</label>
  <input type="email" name="email" />

  <label for="username">Username</label>
  <input type="text" name="username" />

  <label for="password">Password</label>
  <input type="password" name="password" />

  <button type="submit">OK</button>

</form>

<p>Already registered? <a href="/auth/signin">Sign in</a></p>