
{{#if msg}}
  <p class="message {{msg.status}}">{{msg.text}}</p>
{{/if}}
<section class="form-container">
<form method="post" action="/auth/signin" id="form-user">
  <div class="form-wrapper">
    <label for="email" class="label-ref">Email</label>
    <input
      id="email"
      type="email"
      name="email"
      placeholder="ironhack@gmail.com"
      value="b@b"
      class="input-email"
    />
  </div>
  <div>
    <label for="password">Password</label>
    <input
      id="password"
      type="password"
      name="password"
      placeholder="••••••"
      value="1234"
      class="input-password"
    />
  </div>
  <button class="btn">Sign in</button>
</form>

<p>Not registered? <a href="/auth/signup">Sign up</a></p>
</section>