<form action="/dashboard/add/card" method="post">
  <h3>Add a new card</h3>
  <div>
    <label for="category" class="category">Category:</label>
    <select id="category-selector" class="select" name="category" required>
      <option selected disabled value="-1" selected>Choose a category</option>
      <option value="FrenchLovers">FrenchLovers</option>
      <option value="Sports">Sports</option>
      <option value="Programming">Programming</option>
      <option value="General-knowledge">General knowledge</option>
      <option value="Customs-Manners">Customs and Manners</option>
    </select>
  </div>

  <div>
    <label for="serie" class="Serie">Serie:</label>
    <select id="serie-selector" class="select" name="serie" required>
      <option selected disabled value="-1" selected>Choose a serie:</option>
      {{#each serie}}
        <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}
    </select>
  </div>

  <div>
    <label for="question">Question:</label>
    <textarea name="question" rows="5" cols="33"> </textarea>
  </div>

  <div>
    <label for="answer">Answer:</label>
    <textarea name="answer" rows="5" cols="33"> </textarea>
  </div>

  <button>Add a new card</button>

</form>