<form action="/dashboard/add" method="post">
  <h3>Add a new card</h3>
  <div>
    <label for="category" class="category">Category</label>
    <select id="category-selector" class="select" name="category" required>
      <option selected disabled value="-1" selected>Choose a category</option>
      <option value="men">Men</option>
      <option value="women">Women</option>
      <option value="kids">Kids</option>
    </select>
  </div>
  <div>
    <label for="question"></label>
    <input type="text" name="question" />
  </div>

  <div>
    <label for="answer"></label>
    <input type="text" name="answer" />
  </div>

</form>