<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/add-card.css" />
  <title>Document</title>
</head>
<body>
  
<form action="/dashboard/add/serie" method="post">
  <h3>Add a new serie...</h3>
  <div>
    <label for="category" class="category">Category:</label>
    <select id="category-selector" class="select" name="category" required>
      <option selected disabled value="-1" selected>Choose a category:</option>
      {{#each categories}}
        <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>
  </div>

  <div>
    <label for="serie">Serie: </label>
    <input type="text" name="name" id="serie" required minlength="2" size="20" placeholder="exemple : monument" />
  </div>

  <button>Add a new serie</button>
</form>

</body>
</html>

