
<section class="form-create-serie"> 
<form action="/dashboard/add/serie" method="post">
  <h3>Our app is collaborative ! </br>
You can share your knowledge by adding a serie here ! </br>
Then, you will be able to create a flashcard</h3>
  <div>
    <label for="category" class="category">Category:</label>
    <select id="category-selector" class="select" name="category" required>
      <option selected disabled value="-1" selected>Choose a category:</option>
      {{#each categories}}
        <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>
  </div>

  <div>
    <label for="serie">Serie: </label>
    <input type="text" name="name" id="serie" required minlength="2" size="20" placeholder="exemple : monument" />
  </div>

  <button class="btn">Add a new serie</button>
</form>
</section> 


