<form action="/dashboard/edit/card/{{card._id}}" method="post"></form>
<h2>Edit card</h2>

  <div>
    <label for="answer">Answer: </label>
    <input id='answer' type="text" name="answer" placeholder="answer" value={{card.answer}}/>
  </div>
  <div>
    <label for="question">Question: </label>
    <input type="text" id='question' name='question' value={{card.question}}>
  </div>

<button>Edit card</button>
</form>
