<form action="/dashboard/edit/card" method="post"></form>
<h2>Edit card</h2>

  <div>
    <label for="answer"></label>
    </div>
    <div>
    <input type="text" name="answer" placeholder="answer" value={{this.answer}}/>
  </div>

<button>Edit card</button>
</form>
