<form action="/dashboard/edit/card/{{card._id}}" method="post">
  <h2>Edit card</h2>

  <div>
    <label for="question">Question: </label>
    <textarea
      name="question"
      id="question"
      cols="33"
      rows="5"
    >{{card.question}}</textarea>

  </div>
  <div>
    <label for="answer">Answer: </label>
    <textarea name="answer" id="" cols="33" rows="5">{{card.answer}}</textarea>

  </div>

  <button class="btn">Edit card</button>
</form>