<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="module" src="/javascript/cards.js" </script>
    <title>cardslist</title>
</head>
<body>
    
<div class="scene">
        <div class="card">
            <div class="card__face card__face--front">front</div>
            <div class="card__face card__face--back">back</div>
        </div>
      </div>
      <div class="scene">
        <div class="card">
            <div class="card__face card__face--front">front</div>
            <div class="card__face card__face--back">back</div>
        </div>
      </div>
      <div class="scene">
        <div class="card">
            <div class="card__face card__face--front">front</div>
            <div class="card__face card__face--back">back</div>
        </div>
      </div>
      <div class="scene">
        <div class="card">
            <div class="card__face card__face--front">front</div>
            <div class="card__face card__face--back">back</div>
        </div>
        <div class="scene">
          <div class="card">
                <div class="card__face card__face--front">front</div>
                <div class="card__face card__face--back">back</div>
            </div>
        <div class="scene">
            <div class="card">
               <div class="card__face card__face--front">front</div>
               <div class="card__face card__face--back">back</div>
                </div>
        <div class="scene">
            <div class="card">
                <div class="card__face card__face--front">front</div>
                 <div class="card__face card__face--back">back</div>
                    </div>
         <div class="scene">
            <div class="card">
                   <div class="card__face card__face--front">front</div>
                     <div class="card__face card__face--back">back</div>
         </div>
        <div class="scene">
          <div class="card">
             <div class="card__face card__face--front">front</div>
             <div class="card__face card__face--back">back</div>
          </div>
        <div class="scene">
             <div class="card">
               <div class="card__face card__face--front">front</div>
            <div class="card__face card__face--back">back</div>
             </div>


</body>
</html>

<h2>game</h2>
// nom serie
{{serie.name}}

{{!-- previous button/next button --}}

{{!-- const imgContainer = document.querySelector('.image-container');

const image = document.querySelector('img');

const nextBtn = document.querySelector('.next');
const previousBtn = document.querySelector('.previous');

let count = 0;


function replaceSrc(){
    image.src = images[count];
}

previousBtn.addEventListener('click', () => {
    count--
    if(count < 0) {
        count = images.length-1;
    }
    replaceSrc()
})

nextBtn.addEventListener('click', () => {
    count++
    if(count > images.length-1) {
        count = 0;
    }
    replaceSrc()
}) --}}

{{!-- shuffle cards --}}

{{!-- function shuffle(arr) {
  for (let i = arr.length - 1; i > 0; i--) {
    let j = Math.floor(Math.random() * (i + 1));
    let temp = arr[i];
    arr[i] = arr[j];
    arr[j] = temp; --}}

{{!-- //Card Flip CSS 3D --}}

