

<h2>{{serie.name}}</h2>
{{#each cards}}
  <div class="scene">
    <div class="card">
      <div class="card__face card__face--front">{{this.question}}</div>
      <div class="card__face card__face--back">{{this.answer}}</div>
    </div>
  </div>
{{/each}}

