<h2 class="serie-game">{{serie.name}}</h2>
<div class="cards-container">
  {{#each cards}}
    {{!-- <button class="btn previous">Previous</button>
    <button class="btn next">Next</button> --}}
    <div class="scene">
      <div class="card">
        <div class="card__face card__face--front">{{this.question}}</div>
        <div class="card__face card__face--back">{{this.answer}}</div>
      </div>
    </div>
  {{/each}}
</div>