<<<<<<< HEAD
{{!-- <h2>My likes</h2>
// toutes les catégories qu'on a liké BONUS --}}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/stylesheets/myLibrary.css" />
  <title>My Library</title>
</head>
<body>

  <p>My creations</p>
=======
>>>>>>> 4c71ebf55cdc0c14d9f24dd82af0fd9f875e798e

<ul>
  {{#each mySeries}}
    <li>
      <a id="mySeries" href="/dashboard/serie/{{_id}}"> {{name}}</a>
    </li>
  {{/each}}
</ul>

</body>
</html>

