<a href="/auth/signin">Sign in</a>
<a href="/dashboard/add/card">Add a card</a>
<a href="/dashboard/add/serie">Add a serie</a>

<h2>Categories list</h2>
<ul>
  {{#each categories}}
    <li>
      {{this.name}}
    </li>
  {{/each}}

</ul>