

<h2>Categories list</h2>
<ul>
  
  {{#each categories}}
   
    <li>
      {{#if @root.isLoggedIn}}
      <span class='action-link' data-id="{{this._id}}">{{this.name}}
        <ul class='super-list'></ul>
      </span>
      {{else}}
      <p>
      {{this.name}}
      </p>
      {{/if}}
    </li>
  {{/each}}

</ul>