<html lang="en">
  
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  

    {{#each css}}
      <link rel="stylesheet" href="/stylesheets/{{this}}">
    {{/each}}

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"
      integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    {{#each script}}
      <script src="/javascript/{{this}}" type="module"></script>
    {{/each}}
    <title>Flashcards</title>
  </head>

   <body>
    <header>
      
      <nav class="nav-bar">
        <a id="appName" href="/" class="link">
        <img class="flashcard-logo" src="/images/FLASH CARD LOGO.PNG" alt="logo">
        </a>
        {{!-- <i class="fas fa-chalkboard-teacher"></i>Flashcards</a> --}}
        {{! <a href="/" class="link">All cards category</a> }}
        {{#unless isLoggedIn}}
          {{!-- <a href="/auth/signin">Sign in</a> --}}
          <a id="signin" href="/auth/signin" class="link">Sign in<i id="logo-signin" class="fa fa-user fa-1x"></i></a>
        {{/unless}}
        {{#if isLoggedIn}}
        
          <a id="myLibrary" href="/dashboard">My Library</a>
          <a id="addSerie" href="/dashboard/add/serie">Add a serie</a>
          <a id="addCard" href="/dashboard/add/card">Add a card</a>
        
  
          <a style="float:right" id="signout" class="link" href="/auth/signout">signout</a>


        {{/if}}
  </nav> 

    </header>
 
    {{{body}}}
  </body>
</html>