.action-link {
  color: white;
  backdrop-filter: blur(3px) brightness(70%);
  font-size: 17px;
  text-align: center ;
}

.container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  margin-top: 10vh;
}

.background-image {
  height: 190px;
  width: 240px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 30px;
}

.super-list {
  color: black;
  backdrop-filter: blur(3px) brightness(70%);
  text-decoration: none;
  list-style-type: none;
  padding: 8px;
  border-radius: 4px;
}

.super-list > * {
  text-decoration: none;
}
