body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ffd6a5;
  box-sizing: border-box;
}

title{
  text-decoration: none;
  size: 50px;
}

h2{
  color:#f9844a;
}

ul{
  color:white
}

p {
  color: #f9844a;
}
