@import "./add-card.css";
@import "./add-serie.css";
@import "./dashboard.css";
@import "./edit-card.css";
@import "./footer.css";
@import "./homepage.css";
@import "./nav-bar.css";
@import "./signin.css";
@import "./signup.css";
@import "./game.css";
@import "./serie.css";

body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ffd6a5;
  box-sizing: border-box;
}

/* a {
  color: #f9844a;
} */

/* title {
  text-decoration: none;
  size: 50px;
} */

h2 {
  color: #f9844a;
}

ul {
  color: white;
}

p {
  color: #f9844a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  color: black;
  margin-top: 10px;
  padding: 0.3em 1.2em;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  
}

/* .btn:hover {
  color: rgb(52, 52, 255);
  border-bottom: 1px solid rgb(52, 52, 255);
} */
