@import './add-card.css';
@import './add-serie.css';
@import './dashboard.css';
@import './edit-card.css';
@import './footer.css';
@import './game.css';
@import './homepage.css';
@import './nav-bar.css';
@import './signin.css';
@import './signup.css';

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
